html {
      position: relative;
      min-height: 100%;
}
head {
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #f5f5f5;
}
body {
      margin-bottom: 100px;
      margin-top: 100px;
      overflow:hidden;
      background:url(/256logolight.svg) no-repeat center bottom;
      background-position: center center;
      background-size: 100% 80%;
}
main {
      margin-bottom: 70px;
      margin-top: 70px;
      overflow:hidden;
}
footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #f5f5f5;
}
